

.mainStyle {

    display: flex;
    justify-content: center;
    position: relative;

}

.imgStyle {

    position: absolute;
    z-index: -30;
    height: 100vh;
    width: 100%;

}

.buttonStyle {


    font-weight: 900;
}

.title {

    font-weight: 300;
    color: white;
    font-style: italic;
    font-size: 40px;
    font-family: 'Robot';
    text-align: center;

}